<mat-card>
    <mat-card-title>{{componentDocItem.name}}</mat-card-title>
    <mat-card-subtitle>{{componentDocItem.examples.length}}个例子</mat-card-subtitle>
    <mat-divider></mat-divider>
  <nav mat-tab-nav-bar class="docs-component-viewer-tabbed-content">
    <a mat-tab-link class="docs-component-viewer-section-tab"
        *ngFor="let section of sections"
        [routerLink]="section.toLowerCase()"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">{{section}}</a>
  </nav>

  <div class="docs-component-viewer-content">
    <router-outlet></router-outlet>
  </div>

</mat-card>