@import '~@angular/material/theming';

$small-breakpoint-width: 720px;

/* For desktop, the content should be aligned with the page title. */
$content-padding-side: 70px;
$content-padding-side-xs: 15px;

app-component-viewer {



.docs-component-viewer {
  margin: 0 auto;
  max-width: 940px;
}

.docs-component-viewer-section-tab {
  text-transform: uppercase;
}



.docs-component-viewer-content {
  position: relative;
  min-height: 500px;
  padding: 15px;
  code{
    color: #fff;
    background: #000000;
    padding: 10px;
  }
  // Display outlet components with toc as flex and switch to
  // vertical direction on small screens
  component-overview, component-api {
    display: flex;
    align-items: flex-start;

    @media (max-width: $small-breakpoint-width) {
      flex-direction: column;
    }
  }

  table-of-contents {
    top: 35px;
    position: sticky;
    a{
      color: #000000;
    }
    // Reposition on top of content on small screens and remove
    // sticky positioning
    @media (max-width: $small-breakpoint-width) {
      order: -1;
      position: inherit;
      width: auto;
      padding-left: 0;
    }
  }
}

.docs-component-view-text-content {
  flex-grow: 1;
  width: 100%;
}


}